<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
</head>
<body>
<% include partials/templates/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Post Your Feedback</h2>
            <hr>

        </div>
        <div class="col-md-4">
            <h2>Recent Feeds</h2>
            <hr>
            <div id="recent-feeds">

            </div>

        </div>
    </div>
</div>

<% include partials/templates/footer.ejs %>
<% include partials/templates/foot.ejs %>

</body>
</html>
