<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
</head>
<body>
<% include partials/templates/header.ejs %>

<div class="container">

</div>

<% include partials/templates/footer.ejs %>
<% include partials/templates/foot.ejs %>

</body>
</html>
