<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
</head>
<body>
<% include partials/templates/header.ejs %>

<div class="container">

    <div class="row">
        <div class="col-sm-8">
            <%include partials/contents/speakerlists.ejs%>
        </div>
        <div class="col-sm-4">

            <% include partials/contents/nextmeet.ejs %>

            <% include partials/contents/artworklist.ejs %>

        </div>
    </div>

</div>

<% include partials/templates/footer.ejs %>
<% include partials/templates/foot.ejs %>

</body>
</html>
