@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
}

.banner {
    min-height: 385px;
    background: url(../images/banner.jpg);
    background-size: cover;
}

.navbar {
    border-radius: 0;
}

.navbar-default {
    background: #303030;
    border: none;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-top: -5px;
    }
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
    color: white;
}

.footer {
    min-height: 200px;
    margin-top: 100px;
    background: #303030;
    padding: 40px 0;
    color: white;
}

.footer ul li {
    list-style: none;
    display: inline;
}

.footer ul li a {
    color: white;
    margin-right: 10px;
}

.speaker_home_page {
    text-align: center;
    background: #eee;
    padding: 20px 0 40px 0;
}

.chat-box {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 70px;
    min-height: 300px;
}

.chat-box p.info {
    color: #999;
}

.chat-text {
    padding: 5px;
}