<footer>
    <section class="layout">
        <div class="footer">
            <div class="container">
                <%include ../contents/socialmedia.ejs%>
            </div>
            <!--end of div container-->
        </div>
    </section>
</footer>