<article class="artwork">
    <h3>Artwork on display</h3>
    <p><small>while you attend the conference, head over to our gallery where you can check out some of the work from our
        speakers.</small></p>
    
    <% if(artwork.length > 0){ %>
    <% for(var i = 0;i < artwork.length;i++){ %>
    <img class="img-thumbnail" height="60" width="60" style="margin-bottom: 10px;padding: 2px;" src="/images/artwork/<%= artwork[i] %>" alt="">
    <% } %>
    <% } %>
</article>